/* RESETTING RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* END OF RESETTING RULES  */

/* VAR COLORS  */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}

/* CONTAINERS  */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 850px;
    margin: 0 auto;
}

.container-small {
    max-width: 750px;
    margin: 0 auto;
}

/* FLEX  */

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    padding-left: 100px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    display: flex;
    justify-content: center;
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* UTILITYS  */

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: flex-end;
}

/* COMPONENTS */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* HEADER */

.page-header {
    background-color: var(--blue);
    padding: 20px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.logo {
    display: block;
}

.phone {
    padding-top: 25%;
}

.hamburger {
    display: none;
    font-size: 32px;
}

.li-header {
    color: white;
}

/* SECTIONS  */

/* HERO CARDS */

.hero {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 100px;
}

.smartphone {
    display: block;
    width: 30%;
}

.card {
    border-radius: 20px;
    background-color: var(--light-blue);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card:not(.card-with-phone) {
    text-align: center;
}

.card-with-phone {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    gap: 15%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--blue);
}

.col-with-phone {
    display: flex;
    flex-wrap: nowrap;
    gap: 10%;
    background-color: var(--light-blue);
    border-radius: 20px;
    flex-basis: 756px;
}

div.col-4.padding-left {
    padding-right: 0px;
}

.card {
    background-color: var(--light-blue);
}

.fa-cards {
    color: var(--blue);
}

.fa-titles {
    color: var(--blue);
    font-size: 20px;
}

.fa-ph {
    font-weight: bold;
    color: grey;
}

.padding-right:not(:last-child) {
    padding-right :20px;
}

.padding-left {
    padding-left: 20px;
    flex-grow: 1;
}

.blu-button {
    display: block;
    text-align: center;
    background-color: var(--blue);
    width: 65%;
    font-size: 20px;
    color: white;
    border-radius: 999px;
    padding: 10px;
}

/* STARTEGIC SECTION */

.strats {
    background-color: var(--purple);
    padding-top: 100px;
    padding-bottom: 50px;
}

.strats-img {
    width:100%;
    padding-bottom: 15%;
}

.strats-img-2 {
    width: 60%;
    padding-bottom: 20px;
}

.card__strats-2 {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 90%;
}

.card__strats-1 {
    display: flex;
    flex-direction: column;
    
}

.starts-pa {
    padding-top: 50px;
    font-size: 16px;
    color: white;
    font-weight: 200;
    line-height: 1.9em;
}

.starts-pa-2 {
    font-size: 16px;
    color: black;
    padding: 20px;
    /* width: 70%; */
}

.title__strats-1 {
    font-size: 22px;
    color: white;
}

em {
    line-height: 2em;
    font-weight: 500;
}

.title__strats-2 {
    font-size: 22px;
}

.purple-button {
    display: block;
    background-color: var(--purple);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TEAM SECTION */

.team-section {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 80px;
}

h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 34px;
    color: var(--purple);
}

.team-pa {
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    padding-bottom: 40px;
}

.titles__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.team-images {
    width: 200px;
    height: 200px;
    display:block;
    border-radius: 50%;
    aspect-ratio: 16/9;
}

.card-team-member {
    display: flex;
    background-color: var(--purple);
    border-radius: 50px;
    padding:20px;
}

.p__card-team-member {
    font-size: 18px;
    font-weight: 600;
    color: white;
    align-self: center;
}

.fa-solid.fa-quote-right, .fa-solid.fa-quote-left {
    font-size: 26px;
}

.card_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    gap: 20%;
}

.team-quote {
    align-self: flex-start;
    color: white;
    font-size: 18px;
}

/* BENEFIT SECTION */

.benefit {
    background-color: var(--purple);
    padding-top: 100px;
    padding-bottom: 80px;
}

.benefit__title {
    font-size: 34px;
    color: white;
    padding-bottom: 40px;
}

.benefit__number {
    color: var(--purple);
    font-size: 40px;
}

.benefit__p-title {
    color: var(--purple);
}

.benefit__purple-button {
    background-color: var(--purple);
    display: block;
    border-radius: 999px;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.benefit__card {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefit__p {
    color: grey;
}

.benefit__col {
    padding-right: 20px;
}

/* ABOUT US SECTION */

.about-us {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: white;
}

.about-us__title {
    text-align: left;
    font-size: 44px;
    font-weight: 700;
}

.about-us__p {
    line-height: 2.4em;
    font-weight: 500;
}

.about-imgs {
    border-radius: 50%;
}

.linkedin-card {
    display: flex;
    flex-direction: column;
    gap:25px;
}

.linkedin-figure {
    position: relative;
}

.icon-on-absolute {
    position: absolute;
    right: -25px;
    top: 20px;
    color: var(--purple);
}

i.fa-absolute.fa-solid.fa-quote-left {
    font-size: 90px;
}

.linkedin__title{
    color: var(--purple);
    font-size: 20px;
}

.linkedin__purple-button {
    background-color: var(--purple);
    display: block;
    border-radius: 999px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}

.fa-brands.fa-linkedin {
    padding-right: 10px;
}

/* GET STARTED SECTION */

.get-started {
    background-color: var(--purple);
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.get-started__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.get-started__title{
    color: white;
    font-size: 44px;
}

.get-started__h6 {
    color: light-gray;
}

.get-started__p {
    width: 65%;
    text-align: center;
    color: white;
}

h1 {
    color: var(--yellow);
    font-size: 72px;
}

.fa-solid.fa-circle {
    font-size: 5px;
    vertical-align: middle;
}

.copy-span {
    font-size: 13px;
}

.underlined {
    text-decoration: underline;
}

.white-button {
    display: block;
    text-align: center;
    background-color: white;
    width: 30%;
    font-size: 18px;
    font-weight: 700;
    color: var(--purple);
    border-radius: 999px;
    padding: 20px;
}

/* FOOTER  */

footer {
    background-color: var(--dark-grey);
    padding-top: 60px;
    padding-bottom: 50px;  
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.footer__col {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__p {
    text-align: center;
}

.contacts {
    width: 54%;
}

.purple-anc {
    color: var(--purple);
    text-decoration: underline;
}