/* RESETTING RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* END OF RESETTING RULES  */

/* VAR COLORS  */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}

/* CONTAINERS  */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

/* FLEX  */

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);

}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);

}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* UTILITYS  */

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: flex-end;
}

/* COMPONENTS */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* HEADER */

.page-header {
    background-color: var(--blue);
    padding: 20px;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.logo {
    display: block;
}

.phone {
    padding-top: 25%;
}

.hamburger {
    display: none;
    font-size: 32px;
}

.li-header {
    color: white;
}

/* SECTIONS  */

/* HERO CARDS */

.hero {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

.smartphone {
    display: block;
    width: 30%;
}

.card {
    border-radius: 20px;
    background-color: var(--light-blue);
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card:not(.card-with-phone) {
    text-align: center;
}

.card-with-phone {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    gap: 15%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--blue);
}

.col-with-phone {
    display: flex;
    flex-wrap: nowrap;
    gap: 10%;
    background-color: var(--light-blue);
    border-radius: 20px;
    flex-basis: 756px;
}

div.col-4.padding-left {
    padding-right: 0px;
}

.card {
    background-color: var(--light-blue);
}

.fa-cards {
    color: var(--blue);
}

.fa-titles {
    color: var(--blue);
    font-size: 20px;
}

.fa-ph {
    font-weight: bold;
    color: grey;
}

.padding-right:not(:last-child) {
    padding-right :20px;
}

.padding-left {
    padding-left: 20px;
    flex-grow: 1;
}

/* STARTEGIC SECTION */

.strats {
    background-color: var(--purple);
    padding-top: 100px;
    padding-bottom: 50px;
}

.strats-img {
    width:100%;
    padding-bottom: 15%;
}

.strats-img-2 {
    width: 70%;
    padding-bottom: 20px;
}

.card__strats-2 {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.card__strats-1 {
    display: flex;
    flex-direction: column;
    
}

.starts-pa {
    padding-top: 50px;
    font-size: 16px;
    color: white;
    font-weight: 200;
    line-height: 1.9em;
}

.starts-pa-2 {
    font-size: 16px;
    color: black;
    padding: 20px;
    /* width: 70%; */
}

.title__strats-1 {
    font-size: 22px;
    color: white;
}

em {
    line-height: 2em;
    font-weight: 500;
}

.title__strats-2 {
    font-size: 22px;
}

.purple-button {
    background-color: var(--purple);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


